*.log
/.lock
/.build
/chroot
/cache
/binary
/local
/binary.*
/chroot.*
/live-image-*
/config/*

!/config/includes.installer
config/includes.installer/*
!/config/includes.installer/preseed.cfg

!/config/includes.chroot_after_packages
/config/includes.chroot_after_packages/data/*
!/config/includes.chroot_after_packages/data/user-bootstrap.sh

!/config/package-lists
/config/package-lists/*
!/config/package-lists/devos.list.chroot

!/config/hooks
/config/hooks/live/*
!/config/hooks/live/1060-devos.hook.chroot
/config/hooks/normal/*
